/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

ul {
    list-style-type: none;
    margin: 5;
    padding: 0;
  }

  li {
    display: inline;
    padding: 20px;
    color: #48418e;
    
  }

.container {
    display: flex;
    background: url("images/pozadi.jpg") no-repeat center;
    width: 960px;
    height: 400px;
    color: white;
}

.container2 {
    display: flex;
    flex-direction: row;
    width: 960px;
    background-color: white;
    text-align: center;
}

.h1 {
    font-size: 80px;
    text-align: justify;
    position: absolute;
    left: 330px;
    top: 50px;
}

.h2 {
    font-size: 30px;
    position: absolute;
    left: 330px;
    top: 200px;
}

.popis {
    width: 22%;
	padding: 2rem;
	margin: 2rem;
    font-size: 18px;
    position: relative;
    top: 240px;
    border: 1px solid white;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    
}

.c2{
    background-color: #48418e;
}

.paticka {
    display: inline;
    position: absolute;
    top: 775px;
    color: white;
    background-color: #48418e;
    width: 960px;
    font-size: 10px;
}

.ikona {
    height: 50px;
    width: 50px; 
}

.tel {
    position: absolute;
    top: 76px;
    left: 855px;
}

.ikonky {
    margin: 20px;
}

.moznosti {
    color: #25133d;
}